<app-header></app-header>

<!-- Masthead -->
<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <h1 class="font-weight-bold"><b>Another website dedicated to Angular?</b></h1>
            <p class="lead">,,<i>I demand answers why this exists! Like, React is so much better than Angular bruh</i>'' - <i>Kyle</i></p>
        </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Well...kinda, Kyle.</h2>
    <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images in this snippet are from <a href="https://unsplash.com">Unsplash</a>!</p>
  </div>
</section>

<app-footer></app-footer>