<app-header></app-header>

<!-- Masthead -->
<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <h1 class="font-weight-bold"><b>Angular website for Angular developers</b></h1>
            <p class="lead">...and those yearning to become one.</p>
        </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
      <h2 class="font-weight-light">Welcome to Angular Learning Hub!</h2>
      <p>(that's a bad name...it's a work in progress...)</p>
      <p>This project started as an initiative to learn more about <b>Angular</b> and share that knowledge with everyone. As they say, learning is teaching!</p>
      <p>I will do my best to deliver short & concise but knowledgeable & useful <b>Angular</b> tips in the form of a blog on a weekly basis.</p>
      <p>Further functionalities will be added as the time goes by, most important of all I'd like to develop a comment section or some contact form where you can reach me directly and give me your advice on improving the user experience on this website!</p>
      <p>I hope you'll enjoy your time here & that this humble, yet enthusiastic website can offer you something useful.</p>
      <p>Cheers!</p>
    </div>
</section>

<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <h2 class="my-4">Blog posts</h2>
    <!-- Project One -->
    <div class="row pb-3" *ngFor="let blog of blogs">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{{ blog.bg }}" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>
                <a routerLink="/blog-post" (click)="getBlogID(blog.id)">{{ blog.id }} - {{ blog.name }}</a>
            </h3>
            <p>{{  blog.content }}</p>
            <a class="btn btn-primary" href="#">View Project</a>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>
<!-- /.container -->

<app-footer></app-footer>