<app-header></app-header>

<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <h1 class="font-weight-light">Angular website for Angular developers</h1>
            <p class="lead">...and those yearning to become one.</p>
        </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
      <h2 class="font-weight-light">Page Content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
    </div>
</section>  

<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <h2 class="my-4">Blog posts</h2>
    <!-- Project One -->
    <div class="row" *ngFor="let blog of blogs">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>{{ blog.id }} - {{ blog.name }}</h3>
            <p>{{  blog.content }}</p>
            <a class="btn btn-primary" href="#">View Project</a>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>
<!-- /.container -->

<app-footer></app-footer>